stages:
  - build
  - test

build:
  stage: build
  script:
    - chmod 777 install.sh && ./install.sh
  tags:
    - conda
  artifacts:
    paths:
      - logs

test:
  stage: test
  script:
    - chmod 777 test/test.sh && ./test/test.sh
  tags:
    - conda
  artifacts:
    paths:
      - logs
