stages:
  - build
  - test

variables:
  CONDA_ENV_NAME: cloudify

# Define common setup steps using a YAML anchor
.common-conda-setup: &common-conda-setup
  before_script:
    - conda env create --name $CONDA_ENV_NAME --file spec-file.yaml -y
    - export LD_LIBRARY_PATH=/opt/conda/envs/$CONDA_ENV_NAME/lib:$LD_LIBRARY_PATH 
    - source activate $CONDA_ENV_NAME
    - pip install -U .

environment:
  stage: build
  script:
    - echo "Creating an environment"
    - conda env create -f environment.yaml -y
    - source activate $CONDA_ENV_NAME
#    - pip uninstall cloudify -y
#    - pip install -U .
    - conda env export -n $CONDA_ENV_NAME >spec-file.yaml  # Save the environment specifications
  artifacts:
    paths:
      - spec-file.yaml  # Save the environment specifications as an artifact
  tags:
    - conda

test:
  <<: *common-conda-setup
  stage: test
  dependencies:
    - environment
  script:
    - cd test
    - chmod 777 test.sh && ./test.sh
  tags:
    - conda
  artifacts:
    paths:
      - logs
