# requirements.txt
 aiohttp 
 cartopy # for geoanimation
 dask==2023.7.0
 distributed
 eccodes
 fastparquet # for intake accesss
 fsspec
 geoviews # for geoanimation
 gribscan # for grib
 holoviews # for geoanimation
 hvplot # for geoanimation
 intake<2 # for intake access
 intake-xarray # for intake access
 nest_asyncio==1.5.8
 numpy # for compression, compatibility with distributed
 panel # for geoanimation
 pydantic<2 # for intake access
 requests
 starlette
 tqdm
 xarray
 xpublish
 
