# requirements.txt
 aiohttp 
 asyncio
 cartopy # for geoanimation
 dask
 distributed==2024.6.0
 fastparquet # for intake accesss
 fsspec
 gribscan # for grib
 holoviews # for geoanimation
 hvplot # for geoanimation
 intake<2 # for intake access
 intake-xarray # for intake access
 nest_asyncio
 numpy # for compression
 panel # for geoanimation
 pydantic<2 # for intake access
 requests
 starlette
 tqdm
 xarray
 xpublish
