# requirements.txt
 aiohttp
 asyncio
 cartopy
 dask
 distributed
 fsspec
 gribscan
 holoviews
 hvplot
 intake<2
 intake-xarray
 nest_asyncio
 numpy
 panel
 pydantic<2
 requests
 starlette
 tqdm
 xarray
 xpublish
